pg2rdf/schema_output.xsd

<xs:schema name="NewGraphSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mushroombody_Synapse">
    <xs:annotation>
      <xs:appinfo>
        <type>node</type>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="labels_concat" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="location" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="confidence" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
      <xs:element name="alpha2" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="alpha1" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="alpha3" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="mushroombody_Segment">
    <xs:annotation>
      <xs:appinfo>
        <type>node</type>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="post" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="bodyId" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="labels_concat" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="size" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="roiInfo" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="pre" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="cropped" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="instance" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="statusLabel" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="alpha3" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="alpha2" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="alpha1" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="medulla7column_Meta">
    <xs:annotation>
      <xs:appinfo>
        <type>node</type>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element 
      name="postHighAccuracyThreshold" type="xs:decimal" minOccurs="1" maxOccurs="1">
</xs:element>
      <xs:element name="totalPreCount" type="xs:integer" minOccurs="1" maxOccurs="1">
      </xs:element>
      <xs:element 
      name="latestMutationId" type="xs:integer" minOccurs="1" maxOccurs="1">
</xs:element>
      <xs:element 
      name="preHPThreshold" type="xs:decimal" minOccurs="1" maxOccurs="1">
</xs:element>
      <xs:element name="primaryRois" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="labels_concat" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element 
      name="neuroglancerInfo" type="xs:string" minOccurs="1" maxOccurs="1">
</xs:element>
      <xs:element 
      name="statusDefinitions" type="xs:string" minOccurs="1" maxOccurs="1">
</xs:element>
      <xs:element name="logo" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element 
      name="totalPostCount" type="xs:integer" minOccurs="1" maxOccurs="1">
</xs:element>
      <xs:element name="roiHierarchy" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element 
      name="postHPThreshold" type="xs:decimal" minOccurs="1" maxOccurs="1">
</xs:element>
      <xs:element name="dataset" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="roiInfo" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="superLevelRois" type="xs:string" minOccurs="1" maxOccurs="1">
      </xs:element>
      <xs:element name="lastDatabaseEdit" type="xs:date" minOccurs="1" maxOccurs="1">
      </xs:element>
      <xs:element 
      name="neuroglancerMeta" type="xs:string" minOccurs="1" maxOccurs="1">
</xs:element>
      <xs:element name="uuid" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="meshHost" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="mushroombody_Neuron">
    <xs:annotation>
      <xs:appinfo>
        <type>node</type>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="post" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="bodyId" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="statusLabel" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="labels_concat" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="size" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="roiInfo" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="status" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="pre" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="cropped" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="instance" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="alpha2" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="alpha1" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="alpha3" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="mushroombody_Neuron">
    <xs:annotation>
      <xs:appinfo>
        <type>node</type>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="post" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="bodyId" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="statusLabel" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="labels_concat" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="size" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="roiInfo" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="status" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="pre" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="instance" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="alpha3" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="alpha2" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="alpha1" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="cropped" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="mushroombody_SynapseSet">
    <xs:annotation>
      <xs:appinfo>
        <type>node</type>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="labels_concat" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="CONNECTS_TO">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
          <type>edge</type>
        </xs:appinfo>
      </xs:annotation>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element name="source" type="mushroombody_Neuron"/>
        <xs:element name="source" type="mushroombody_SynapseSet"/>
        <xs:element name="source" type="mushroombody_Segment"/>
      </xs:choice>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element name="target" type="mushroombody_Neuron"/>
        <xs:element name="target" type="mushroombody_SynapseSet"/>
        <xs:element name="target" type="mushroombody_Segment"/>
      </xs:choice>
      <xs:element name="weightHP" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="weight" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="roiInfo" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="CONTAINS">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
          <type>edge</type>
        </xs:appinfo>
      </xs:annotation>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element name="source" type="mushroombody_Neuron"/>
        <xs:element name="source" type="mushroombody_SynapseSet"/>
        <xs:element name="source" type="mushroombody_Segment"/>
      </xs:choice>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element name="target" type="mushroombody_SynapseSet"/>
        <xs:element name="target" type="mushroombody_Synapse"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="SYNAPSES_TO">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
          <type>edge</type>
        </xs:appinfo>
      </xs:annotation>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element name="source" type="mushroombody_Synapse"/>
      </xs:choice>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element name="target" type="mushroombody_Synapse"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>
</xs:schema>